.parent{
  display: flex;
  justify-content: center;
  background-color: rgb(113, 172, 102);
  background-image: url("download.jpg");
  

}

.child{
  width: 20%;
  height: 60%;
  border-start-end-radius: 1px solid#ddd;
  padding: 1%;
  margin: 1%;
  box-shadow:  0px 8px 8px -8px #000;
  text-align: center;
  background-color: blanchedalmond;
  color: white;
  background-image: url("download.jpg");
}

.child img{
  width: 60%;

}
.link{
  text-decoration: none;
  color: white;
}

.btn{
  background: slateblue;
  color: white;
  display: block;
  padding: 1%;
  text-decoration: none;
  
}

.child2{
  border: 1px solid#ddd;
  width:75%;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  background-color: blanchedalmond;
  color:white;
  background-image: url("download.jpg");
}

.Skill{
  margin: .5%;
  padding: .5%;
  color:#ffff;
  border-radius: 10px;
  background: #4a55c8;
  border: 1px solid#333b8a;
  box-shadow: 0px 8px 8px -8px #000;
}